body {
  width: 400px;
  color: var(--text);
  background-color: var(--background);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

:root {
  --primary: #be4752;
  --secondary: #e58d95;
  --accent: #eb5866;
  --text: #000000;
  --background: #ffffff;
}

.heading h2{
  text-align: center;
  font-size: 1.4rem;
  padding: 16px;
  font-weight: 900;
  margin-bottom: 0.789rem;
  background-color: var(--primary);
}
footer{
  text-align: center;
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.controls {
  gap: 10px;
  background-color: rgba(255, 182, 193, 0.5);
  padding: 0.78rem;
  display: flex;
  flex-direction: column;
}
button,
select {
  padding: 1rem;
  font-size: 16px;
  cursor: pointer;
}

.button-bg {
  & button {
    padding: 0.789rem;
    border: 1px solid #000;
    cursor: pointer;
    font-size: 16px;
    border-radius: 1rem;
  }
}

.toolbar {
  display: flex;
  gap: 10px;
  color: #fff;
  background-color: rgba(255, 182, 193, 0.5);
  padding: 0.789rem;
}
.how-it-works {
  transition: transform ease 0.2s;
}
.color-box {
  width: 80px;
  outline: none;
  border-radius: 6px;
  height: 60px;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px;
}
.color-box input {
  width: 80px;
  height: 40px;
  opacity: 0;
  position: absolute;
  cursor: pointer;
}
